name: ShellCheck

on:
  push:
    branches: [main]
    paths:
      - "**.sh"
  pull_request:
    branches: [main]
    paths:
      - "**.sh"

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: "./scripts"
          severity: warning
